In [1]:
import pandas as pd

# Load the Parquet file
add_event = pd.read_parquet('./Dataset/add_event.parquet')
print(add_event.head())

       id2     id3    id6                      id4   id7
0  2431360  618619  Tiles  2023-10-22 08:08:17.768  None
1  2431360  363153  Tiles  2023-10-22 08:08:18.921  None
2  2431360   97193  Tiles  2023-10-22 08:08:17.765  None
3  2431360  654444  Tiles  2023-10-22 08:08:17.737  None
4  2431360   32325  Tiles  2023-10-22 08:08:17.812  None

In [14]:
add_event.shape

(21457473, 5)

In [2]:
add_trans = pd.read_parquet('./Dataset/add_trans.parquet')
print(add_trans.head())
add_trans.info()

       id2   f367 f368 f369        f370      f371    f372       id8 f374
0  2896709  15.60  PBR    D  2023-10-16  19:16:52  202310  59639998  DSE
1  2855047   6.40   PR    D  2023-10-14  13:01:16  202310  59639998  DSE
2  2497175  13.99  PBR    D  2023-10-14  00:31:48  202310  59639998  DSE
3  2655364  15.14  PGC    D  2023-10-13  12:37:25  202310  59639998  DSE
4  2855047   2.12   PR    D  2023-10-09  16:51:21  202310  59639998  DSE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6339465 entries, 0 to 6339464
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   id2     int32
 1   f367    float64
 2   f368    object
 3   f369    object
 4   f370    object
 5   f371    object
 6   f372    object
 7   id8     object
 8   f374    object
dtypes: float64(1), int32(1), object(7)
memory usage: 411.1+ MB

In [5]:
offer_metadata = pd.read_parquet('./Dataset/offer_metadata.parquet')
print(offer_metadata.head())

         id3   id9  f375   f376  f377 id10  id11 f378  f374   id8  \
0      70687  FO5O     2    5.0  None    1  None    N  None  None
1  900002526   UGE     2  100.0  None    1  None    N  None  None
2  900002864   UTP     1  100.0  None    1  None    N  None  None
3      19508     o     2    NaN  None    1  None    N  None  None
4      35903     o     2    NaN  None    1  None    N  None  None

                  id12                 id13
0  2018-01-01 00:00:00  2099-12-31 23:59:59
1  2014-10-20 00:00:00  2099-12-31 23:59:59
2  2016-07-19 00:00:00  2099-12-31 23:59:59
3  2019-06-02 17:00:00  2028-12-31 16:59:59
4  2019-06-02 17:00:00  2028-12-31 16:59:59

In [13]:
offer_metadata.shape

(4164, 12)

In [11]:
test_data = pd.read_parquet('./Dataset/test_data.parquet')
print(test_data.head())

                                                    id1      id2     id3  \
46756    1362907_91950_16-23_2023-11-04 18:56:26.000794  1362907   91950
57819       1082599_88356_16-23_2023-11-04 06:08:53.373  1082599   88356
15390   1888466_958700_16-23_2023-11-05 10:07:28.000725  1888466  958700
145730     1888971_795739_16-23_2023-11-04 12:25:28.244  1888971  795739
146085      1256369_82296_16-23_2023-11-05 06:45:26.657  1256369   82296

                               id4         id5    f1    f2    f3    f4    f5  \
46756   2023-11-04 18:56:26.000794  2023-11-04  None  None  None  None  None
57819      2023-11-04 06:08:53.373  2023-11-04  None   9.0  None  None  None
15390   2023-11-05 10:07:28.000725  2023-11-05  None  None  None  None  22.0
145730     2023-11-04 12:25:28.244  2023-11-04  None  None  None  None  None
146085     2023-11-05 06:45:26.657  2023-11-05  None  None  None  None  None

        ...                 f357                f358 f359  f360   f361  f362  \
46756   ...   0.0027807272790246  0.0465999838670646  0.0  None    1.0   0.0
57819   ...   0.0014287946777398  0.0603093514970909  0.0  None  195.0  13.0
15390   ...  -0.0174961119751166  0.0734836702954899  0.0  None  155.0  67.0
145730  ...   0.0013159476327096   0.040572039549215  0.0  None   None  None
146085  ...   0.0020541699799278   0.038243539079214  0.0  None   29.0   2.0

                      f363    f364   f365                f366
46756                  0.0    56.0    0.0                 0.0
57819   0.0666666666666666    None   None                None
15390    0.432258064516129  1142.0  436.0  0.3817863397548161
145730                None    None   None                None
146085  0.0689655172413793   361.0    3.0  0.0083102493074792

[5 rows x 371 columns]

In [9]:
train_data = pd.read_parquet('./Dataset/train_data.parquet')
print(train_data.head())

                                               id1      id2        id3  \
0  1366776_189706075_16-23_2023-11-02 22:22:00.042  1366776  189706075
1      1366776_89227_16-23_2023-11-01 23:51:24.999  1366776      89227
2      1366776_35046_16-23_2023-11-01 00:30:59.797  1366776      35046
3    1366776_6275451_16-23_2023-11-02 22:21:32.261  1366776    6275451
4      1366776_78053_16-23_2023-11-02 22:21:34.799  1366776      78053

                       id4         id5  y   f1    f2    f3    f4  ...  f357  \
0  2023-11-02 22:22:00.042  2023-11-02  0  1.0  None  None  None  ...  None
1  2023-11-01 23:51:24.999  2023-11-01  0  1.0  None  None  None  ...  None
2  2023-11-01 00:30:59.797  2023-11-01  0  1.0  None  None  None  ...  None
3  2023-11-02 22:21:32.261  2023-11-02  0  1.0  None  None  None  ...  None
4  2023-11-02 22:21:34.799  2023-11-02  0  1.0  None  None  None  ...  None

      f358 f359  f360   f361 f362               f363    f364 f365  \
0  -9999.0  0.0  None   28.0  0.0                0.0   337.0  0.0
1     None  0.0  None   87.0  0.0                0.0  1010.0  2.0
2     None  0.0  None   23.0  0.0                0.0  1010.0  2.0
3  -9999.0  0.0  None  277.0  1.0  0.003610108303249   337.0  0.0
4  -9999.0  0.0  None  359.0  0.0                0.0   337.0  0.0

                 f366
0                 0.0
1  0.0019801980198019
2  0.0019801980198019
3                 0.0
4                 0.0

[5 rows x 372 columns]

In [12]:
train_data.shape

(770164, 372)